<template>
<section class="section">
	<div class="container">
		<div class="columns">
			<!-- Column for Displaying List of Week -->
			<div class="column is-4 is-offset-1">
				<ListWeeks />
			</div>
			<!-- Column for Displaying List of Weekly Task -->
			<div class="column is-4 is-offset-1">
				<ListWeeklyTasks />
			</div>
		</div>
	</div>
</section>
</template>

<script>
import ListWeeks from './ListWeeks'
import ListWeeklyTasks from './ListWeeklyTasks'

export default {
	name: 'TodoWeekly',
	components: {
		ListWeeks,
		ListWeeklyTasks
	}
}
</script>