<template>
<div>
	<div class="box">
		<h2 class="subtitle has-text-centered">{{selectedWeek}}</h2>
		<div class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Done</p>
					<p class="title">{{taskDone}}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Remaining</p>
					<p class="title">{{taskRemaining}}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Total</p>
					<p class="title">{{taskTotal}}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="box"
		v-if="weeklyTasks[selectedWeek]"
		v-for="(itemTask, indexTask) in weeklyTasks[selectedWeek]">
		<div class="media">
			<div class="media-content">
				<div class="content">
					<p v-if="!itemTask.isEditing">{{itemTask.task}}</p>
					<div class="field" v-if="itemTask.isEditing">
						<div class="control">
							<input class="input" type="text"
								:value="itemTask.task"
								@change="updateTaskData">
						</div>
					</div>

					<button class="button is-outlined is-success is-small"
						@click="setWeeklyTaskDone(itemTask, indexTask)">
						Done
					</button>
					<button class="button is-info is-small"
						@click="editWeeklyTask(itemTask, indexTask)"
						v-if="!itemTask.isEditing">
						Edit
					</button>
					<button class="button is-info is-small"
						@click="saveWeeklyTask(itemTask, indexTask)"
						v-if="itemTask.isEditing">
						Save
					</button>
				</div>
			</div>
			<div class="media-right">
				<button class="delete is-small" @click="deleteWeeklyTask(itemTask)"></button>
			</div>
		</div>
	</div>

	<div class="has-text-centered">
		<button class="button is-primary is-small"
			@click="addNewWeeklyTask">
			Add New
		</button>
	</div>
</div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default {
	name: 'ListWeeklyTasks',
	data() {
		return {
			taskData: ''
		}
	},
	methods: {
		addNewWeeklyTask() {
			let newTask = {
				title: 'Weekly Task',
				task: 'Just some task to do',
				isEditing: false,
				isCompleted: false
			}
			let weekName = this.selectedWeek

			Vue.axios.post('https://jsonplaceholder.typicode.com/posts', newTask)
				.then(response => {
					newTask.id = response.data.id
					this.$store.commit('add_new_weekly_task', { weekName: this.selectedWeek, newTask })
					console.log(response)
				})
				.catch(error => {
					console.log(error)
				})
		},
		deleteWeeklyTask(itemTask) {
			let taskID = itemTask.id

			Vue.axios.delete(`https://jsonplaceholder.typicode.com/posts/${taskID}`)
				.then(response => {
					this.$store.commit('delete_weekly_task', { weekName: this.selectedWeek, taskID })
					console.log(response)
				})
				.catch(error => {
					console.log(error)
				})
		},
		setWeeklyTaskDone(itemTask, indexTask) {
			Vue.axios.patch(`https://jsonplaceholder.typicode.com/posts/${itemTask.id}`, {
					isCompleted: true
				})
				.then(response => {
					this.$store.commit('set_weekly_task_done', { weekName: this.selectedWeek, indexTask })
					console.log(response)
				})
				.catch(error => {
					console.log(error)
				})
		},
		editWeeklyTask(itemTask, indexTask) {
			Vue.axios.patch(`https://jsonplaceholder.typicode.com/posts/${itemTask.id}`, {
					isEditing: true
				})
				.then(response => {
					this.$store.commit('edit_weekly_task', { weekName: this.selectedWeek, indexTask })
					console.log(response)
				})
				.catch(error => {
					console.log(error)
				})
		},
		saveWeeklyTask(itemTask, indexTask) {
			Vue.axios.patch(`https://jsonplaceholder.typicode.com/posts/${itemTask.id}`, {
					isEditing: false
				})
				.then(response => {
					this.$store.commit('save_weekly_task', { 
						weekName: this.selectedWeek, 
						indexTask, 
						taskData: this.taskData
					})
					console.log(response)
				})
				.catch(error => {
					console,log(error)
				})
		},
		updateTaskData() {
			this.taskData = event.target.value
		}
	},
	computed: {
		...mapGetters([
			'weeklyTasks',
			'selectedWeek'
		]),
		taskDone() {
			return this.weeklyTasks[this.selectedWeek].filter(item => item.isCompleted).length
		},
		taskRemaining() {
			return this.weeklyTasks[this.selectedWeek].filter(item => !item.isCompleted).length
		},
		taskTotal() {
			return this.weeklyTasks[this.selectedWeek].length
		}
	}
}
</script>