<template>
<nav class="panel">
	<p class="panel-heading has-text-centered">
		Week
	</p>
	<a class="panel-block"
		:class="{'is-active': selectedWeek === 'Week 1'}"
		@click="showWeeklyTask('Week 1')">
		Week 1
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedWeek === 'Week 2'}"
		@click="showWeeklyTask('Week 2')">
		Week 2
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedWeek === 'Week 3'}"
		@click="showWeeklyTask('Week 3')">
		Week 3
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedWeek === 'Week 4'}"
		@click="showWeeklyTask('Week 4')">
		Week 4
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedWeek === 'Week 5'}"
		@click="showWeeklyTask('Week 5')">
		Week 5
	</a>
</nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'ListWeeks',
	methods: {
		showWeeklyTask(weekName) {
			this.$store.commit('show_weekly_tasks', { weekName })
		}
	},
	computed: {
		...mapGetters([
			'selectedWeek'
		])
	}
}
</script>