<template>
<section class="hero is-primary is-fullheight">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Todo List App
			</h1>
			<h2 class="subtitle">
				A simple Todo List application
			</h2>
			<button class="button is-info" @click="openTodoPage">Start</button>
		</div>
	</div>
</section>
</template>

<script>
export default {
	name: 'HomePage',
	methods: {
		openTodoPage() {
			this.$router.push('/main/daily')
		}
	}
}
</script>