<template>
<div>
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title">
					Todo List App
				</h1>
				<h2 class="subtitle">
					A simple Todo List application
				</h2>
			</div>
		</div>

		<div class="hero-foot">
			<nav class="tabs is-boxed">
				<div class="container">
					<ul>
						<li :class="{'is-active': activeTab === 'daily'}">
							<a @click="setTabActive('daily')">Daily</a>
						</li>
						<li :class="{'is-active': activeTab === 'weekly'}">
							<a @click="setTabActive('weekly')">Weekly</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>

	<router-view />
</div>
</template>

<script>
export default {
	name: 'TodoPage',
	data() {
		return {
			activeTab: 'daily'
		}
	},
	methods: {
		setTabActive(tabName) {
			this.activeTab = tabName
			this.$router.push(`/main/${tabName}`)
		}
	}
}
</script>