<template>
<section class="section">
	<div class="container">
		<div class="columns">
			<!-- Column for Displaying List of Day -->
			<div class="column is-4 is-offset-1">
				<ListDays />
			</div>
			<!-- Column for Displaying List of Daily Task -->
			<div class="column is-4 is-offset-1">
				<ListDailyTasks />
			</div>
		</div>
	</div>
</section>
</template>

<script>
import ListDays from './ListDays'
import ListDailyTasks from './ListDailyTasks'

export default {
	name: 'TodoDaily',
	components: {
		ListDays,
		ListDailyTasks
	}
}
</script>