<template>
<nav class="panel">
	<p class="panel-heading has-text-centered">
		Day
	</p>
	<a class="panel-block"
		:class="{'is-active': selectedDay === 'Sunday'}"
		@click="showDailyTask('Sunday')">
		Sunday
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedDay === 'Monday'}"
		@click="showDailyTask('Monday')">
		Monday
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedDay === 'Tuesday'}"
		@click="showDailyTask('Tuesday')">
		Tuesday
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedDay === 'Wednesday'}"
		@click="showDailyTask('Wednesday')">
		Wednesday
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedDay === 'Thursday'}"
		@click="showDailyTask('Thursday')">
		Thursday
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedDay === 'Friday'}"
		@click="showDailyTask('Friday')">
		Friday
	</a>
	<a class="panel-block"
		:class="{'is-active': selectedDay === 'Saturday'}"
		@click="showDailyTask('Saturday')">
		Saturday
	</a>
</nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'ListDays',
	methods: {
		showDailyTask(dayName) {
			this.$store.commit('show_daily_tasks', { dayName })
		}
	},
	computed: {
		...mapGetters([
			'selectedDay'
		])
	}
}
</script>