<template>
<div>
	<div class="box">
		<h2 class="subtitle has-text-centered">{{selectedDay}}</h2>
		<div class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Done</p>
					<p class="title">{{taskDone}}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Remaining</p>
					<p class="title">{{taskRemaining}}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Total</p>
					<p class="title">{{taskTotal}}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="box" 
		v-if="dailyTasks[selectedDay]"
		v-for="(itemTask, indexTask) in dailyTasks[selectedDay]">
		<div class="media">
			<div class="media-content">
				<div class="content">
					<p v-if="!itemTask.isEditing">{{itemTask.task}}</p>
					<div class="field" v-if="itemTask.isEditing">
						<div class="control">
							<input class="input" type="text"
								:value="itemTask.task"
								@change="updateTaskData">
						</div>
					</div>

					<button class="button is-outlined is-success is-small"
						@click="setDailyTaskDone(itemTask, indexTask)">
						Done
					</button>
					<button class="button is-info is-small"
						@click="editDailyTask(itemTask, indexTask)"
						v-if="!itemTask.isEditing">
						Edit
					</button>
					<button class="button is-info is-small"
						@click="saveDailyTask(itemTask, indexTask)"
						v-if="itemTask.isEditing">
						Save
					</button>
				</div>
			</div>
			<div class="media-right">
				<button class="delete is-small" @click="deleteDailyTask(itemTask)"></button>
			</div>
		</div>
	</div>

	<div class="has-text-centered">
		<button class="button is-primary is-small"
			@click="addNewDailyTask">
			Add New
		</button>
	</div>
</div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default {
	name: 'ListDailyTasks',
	data() {
		return {
			taskData: ''
		}
	},
	methods: {
		addNewDailyTask() {
			let newTask = {
				title: 'Daily Task',
				task: 'Something to do',
				isEditing: false,
				isCompleted: false
			}
			let dayName = this.selectedDay

			Vue.axios.post('https://jsonplaceholder.typicode.com/posts', newTask)
				.then(response => {
					newTask.id = response.data.id
					this.$store.commit('add_new_daily_task', { dayName, newTask })
					console.log(response)
				})
				.catch(error => {
					console.log(error)
				})
		},
		deleteDailyTask(itemTask) {
			let taskID = itemTask.id
			let selectedDay = this.selectedDay
			
			Vue.axios.delete(`https://jsonplaceholder.typicode.com/posts/${taskID}`)
				.then(response => {
					this.$store.commit('delete_daily_task', { dayName: selectedDay, taskID })
					console.log(response)
				})
				.catch(error => {
					console.log(error)
				})
		},
		setDailyTaskDone(itemTask, indexTask) {
			Vue.axios.patch(`https://jsonplaceholder.typicode.com/posts/${itemTask.id}`, {
					isCompleted: true
				})
				.then(response => {
					this.$store.commit('set_daily_task_done', { dayName: this.selectedDay, indexTask })
					console.log(response)
				})
				.catch(error => {
					console.log(error)
				})
		},
		editDailyTask(itemTask, indexTask) {
			Vue.axios.patch(`https://jsonplaceholder.typicode.com/posts/${itemTask.id}`, {
					isEditing: true
				})
				.then(response => {
					this.$store.commit('edit_daily_task', { dayName: this.selectedDay, indexTask })
					console.log(response)
				})
				.catch(error => {
					console.log(error)
				})
		},
		saveDailyTask(itemTask, indexTask) {
			Vue.axios.patch(`https://jsonplaceholder.typicode.com/posts/${itemTask.id}`, {
					isEditing: false
				})
				.then(response => {
					this.$store.commit('save_daily_task', { 
						dayName: this.selectedDay, 
						indexTask, 
						taskData: this.taskData
					})
					console.log(response)
				})
				.catch(error => {
					console,log(error)
				})
		},
		updateTaskData() {
			this.taskData = event.target.value
		}
	},
	computed: {
		...mapGetters([
			'dailyTasks',
			'selectedDay'			
		]),
		taskDone() {
			return this.dailyTasks[this.selectedDay].filter(item => item.isCompleted).length
		},
		taskRemaining() {
			return this.dailyTasks[this.selectedDay].filter(item => !item.isCompleted).length
		},
		taskTotal() {
			return this.dailyTasks[this.selectedDay].length
		}
	}
}
</script>